<div id="call-to-action" class="section hr">
  <h2>First Annual</h2>
  <h1>octocat<br/>dodgeball<br/>invitational</h1>
  <h2>Sunday, October 23rd</h2>
  <div id="the-pot">
    <span class="shine"></span>
    <h3 class="title">The Pot</h3>
    <h3 class="ammount">$<span id="ammount"><%= @pot %></span></h3>
  </div>
</div><!-- #header-wrapper -->

<div id="details" class="section hr">
  <h3 class="section-title">Details</h3>
  <div class="section-content">
    <h3>Where?</h3>
    <p>
      <a href="http://g.co/maps/kexjk">Mission Recreation Center</a><br/>
      2450 Harrison Street<br/>
      San Francisco, California 94110
    </p>
    <h3>When?</h3>
    <p>
      Sunday, October 23rd
    </p>
    <h3>Why?</h3>
    <p>
      We where brainstorming in the office and decided we should throw balls at our enemies. But why stop at destroying our enemies with foam spheres? We decided to trick our enemies into giving charities money for the right to have their asses kicked. Hakuna matata.
    </p>
    <h3>What?</h3>
    <p>
    GitHub employees and a number of victims from other teams participate in an epic Dodgeball tournament.  Each team that is entered donates at least $3000 to the charity pot.  At the end, the charity of the winner gets 50% of the pot and everyone else splits the rest evenly.  In the process, thousands are entertained.
    </p>
  </div>
</div><!-- #details -->

<div id="teams" class="section">
  <h3 class="section-title">Teams</h3>
  <div class="section-content">
    <ul>
      <% @teams.each do |team| %>
      <li class="team">
        <div class="team-header">
          <%= team.team_image %>
          <div class="info">
            <h3><%= team.name %></h3>
            <!-- <a class="btn">sponsor this team</a> -->
          </div>
        </div>
        <table class="team-content">
          <tr>
            <th>Company</th>
            <th>Charity</th>
          </tr>
          <tr>
            <td><%= team.company %></td>
            <td><%= team.charity %></td>
          </tr>
          <tr>
            <th colspan="2">Team</th>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                <% team.players.each do |player| %>
                  <li><%= player %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        </table>
      </li>
      <% end %>
    </ul>

    <% @page = "/new#signup-start" %>
    <%= erb :form %>

  </div>
</div><!-- #teams -->
<div id="challenge">
  <span class="dodgeball left"></span>
  <h4>Think you have</h4>
  <h3>The Balls?</h3>
  <span class="dodgeball right"></span>
</div>
